@import url("https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.app {
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #f5f4f4;
    font-size: 2rem;
}
