.card-body {
    margin: 10px 15px 10px 15px;
    padding: 0 0 10px 0;
    background-color: #ffffff;
    border: {
        bottom: solid;
        top: solid;
        left: solid;
        right: solid;
        color: white;
        width: 2px;
        radius: 5px;
    }

    h1 {
        margin: 7px 7px 7px 15px;
        font: {
            size: 34px;
            family: 'Merriweather Sans', sans-serif;
        }
    }

    div {
        display: flex;
        justify-content: center;
        height: 325px;
        margin: 20px 0 20px 0;
        background-color: white;

        img {
            height: 100%;
        }
    }
}
