.card-body {
    margin: 10px 15px 10px 15px;
    padding: 0 0 10px 0;
    background-color: #ffffff;
    border: {
        bottom: solid;
        color: #e60012;
        width: 10px;
    }

    img {
        width: 100%;
    }

    h1 {
        margin: 7px 7px 7px 15px;
        font: {
            size: 50px;
            family: "Francois One", sans-serif;
        }
    }

    div {
        background-color: pink;
        height: 300px;
    }
}
