.header-body{
    padding: 45px 0 45px 0;
    display: flex;
    position: sticky;
    top: 0;

    background: {
        color: #e60012;
    }

    .header-title {
        color: white;
        transform: translate(-50%, 0);

        font: {
            family: 'Merriweather Sans', sans-serif;
            size: 40px;
        }
    }

    .backbutton{
        height: 100%;
        width: 50vw;
        display: flex;
        transform: translate(40px, 0);
    }
}

.with-refresh{
    justify-content: space-between;

    .header-title {
        transform: translate(0, 0);
    }

    .backbutton {
        width: auto;
        transform: translate(0, 0);
        margin-left: 40px;
    }

    .refreshbutton {
        width: auto;
        transform: translate(0, 0);
        margin-right: 40px;
    }
}

.backbuttonNone{
    justify-content: space-around;

    .header-title{
        transform: translate(0, 0);
    }
}