.input-body {  
    background-color: white;
    margin: 20px;

    border: {
        bottom: solid;
        top: solid;
        left: solid;
        right: solid;
        color: #fff;
        width: 2px;
        radius: 15px
    }

    .input-text {
        margin: 40px 30px 40px 30px;
        padding: 0 20px;

        border: {
            bottom: solid;
            top: solid;
            left: solid;
            right: solid;
            color: #f5f5f5;
            width: 4px;
            radius: 15px
        }

        legend {
            width: fit-content;
            margin: 10px;
            padding: 0 10px 0 10px;
            transform: translate(0, -100%);
            position: absolute;
            background-color: white;
            color: #999999;
        }

        form {
            display: flex;
            flex-direction: column;
            margin: 30px;

            .textbox {
                align-self: center;
                height: 60px;
                width: 100%;
                padding: 10px;
                outline: none;

                border: {
                    bottom: solid;
                    top: solid;
                    left: solid;
                    right: solid;
                    color: #dfdfdf;
                    width: 2px;
                    radius: 15px
                }

                font: {
                    size: 34px;
                }
            }

            .button {
                margin: 30px 0 0 0;
                padding: 25px;
                background-color: #e60012;
                color: white;
                width: 100%;
                outline: none;

                border: {
                    bottom: solid;
                    top: solid;
                    left: solid;
                    right: solid;
                    color: #e60012;
                    width: 4px;
                    radius: 15px
                }

                :active {
                    background-color: white;
                    color: #e60012;
                    border: none;
                } 

                font: {
                    size: 34px;
                }
            }
        }
    }
}

.amiibo-content {
    span {
        color: #999999;
        margin: 0 15px 0 0;
    
        font: {
            family: 'Open Sans', sans-serif;
            size: 30px;
        }
    }

    .total-elements {
        display: flex;
        justify-content: flex-end;

    }

    .no-results {
        margin: 0 0 15px 20px;
    }

}